<<<<<<< HEAD
/*
Syntax error: Colors must have either three or six digits: '#b'
        on line 7 of /Users/miguel/git/scrum-estimate-websocket/static/sass/master.scss

Backtrace:
/Users/miguel/git/scrum-estimate-websocket/static/sass/master.scss:7
/Library/Ruby/Gems/1.8/gems/sass-3.2.8/lib/sass/../sass/script/lexer.rb:282:in `color'
/Library/Ruby/Gems/1.8/gems/sass-3.2.8/lib/sass/../sass/script/lexer.rb:239:in `token'
/Library/Ruby/Gems/1.8/gems/sass-3.2.8/lib/sass/../sass/script/lexer.rb:218:in `read_token'
/Library/Ruby/Gems/1.8/gems/sass-3.2.8/lib/sass/../sass/script/lexer.rb:169:in `peek'
/Library/Ruby/Gems/1.8/gems/sass-3.2.8/lib/sass/../sass/script/parser.rb:480:in `try_tok'
/Library/Ruby/Gems/1.8/gems/sass-3.2.8/lib/sass/../sass/script/parser.rb:228:in `unary_plus'
/Library/Ruby/Gems/1.8/gems/sass-3.2.8/lib/sass/../sass/script/parser.rb:209:in `times_div_or_mod'
/Library/Ruby/Gems/1.8/gems/sass-3.2.8/lib/sass/../sass/script/parser.rb:209:in `plus_or_minus'
/Library/Ruby/Gems/1.8/gems/sass-3.2.8/lib/sass/../sass/script/parser.rb:209:in `relational'
/Library/Ruby/Gems/1.8/gems/sass-3.2.8/lib/sass/../sass/script/parser.rb:209:in `eq_or_neq'
/Library/Ruby/Gems/1.8/gems/sass-3.2.8/lib/sass/../sass/script/parser.rb:209:in `and_expr'
/Library/Ruby/Gems/1.8/gems/sass-3.2.8/lib/sass/../sass/script/parser.rb:209:in `or_expr'
/Library/Ruby/Gems/1.8/gems/sass-3.2.8/lib/sass/../sass/script/parser.rb:298:in `space'
/Library/Ruby/Gems/1.8/gems/sass-3.2.8/lib/sass/../sass/script/parser.rb:283:in `interpolation'
/Library/Ruby/Gems/1.8/gems/sass-3.2.8/lib/sass/../sass/script/parser.rb:246:in `expr'
/Library/Ruby/Gems/1.8/gems/sass-3.2.8/lib/sass/../sass/script/parser.rb:470:in `send'
/Library/Ruby/Gems/1.8/gems/sass-3.2.8/lib/sass/../sass/script/parser.rb:470:in `assert_expr'
/Library/Ruby/Gems/1.8/gems/sass-3.2.8/lib/sass/../sass/script/parser.rb:49:in `parse'
/Library/Ruby/Gems/1.8/gems/sass-3.2.8/lib/sass/../sass/scss/parser.rb:1022:in `send'
/Library/Ruby/Gems/1.8/gems/sass-3.2.8/lib/sass/../sass/scss/parser.rb:1022:in `sass_script'
/Library/Ruby/Gems/1.8/gems/sass-3.2.8/lib/sass/../sass/scss/parser.rb:882:in `value!'
/Library/Ruby/Gems/1.8/gems/sass-3.2.8/lib/sass/../sass/scss/parser.rb:859:in `declaration'
/Library/Ruby/Gems/1.8/gems/sass-3.2.8/lib/sass/../sass/scss/parser.rb:582:in `declaration_or_ruleset'
/Library/Ruby/Gems/1.8/gems/sass-3.2.8/lib/sass/../sass/scss/parser.rb:1122:in `call'
/Library/Ruby/Gems/1.8/gems/sass-3.2.8/lib/sass/../sass/scss/parser.rb:1122:in `rethrow'
/Library/Ruby/Gems/1.8/gems/sass-3.2.8/lib/sass/../sass/scss/parser.rb:592:in `declaration_or_ruleset'
/Library/Ruby/Gems/1.8/gems/sass-3.2.8/lib/sass/../sass/scss/parser.rb:554:in `block_child'
/Library/Ruby/Gems/1.8/gems/sass-3.2.8/lib/sass/../sass/scss/parser.rb:546:in `block_contents'
/Library/Ruby/Gems/1.8/gems/sass-3.2.8/lib/sass/../sass/scss/parser.rb:535:in `block'
/Library/Ruby/Gems/1.8/gems/sass-3.2.8/lib/sass/../sass/scss/parser.rb:529:in `ruleset'
/Library/Ruby/Gems/1.8/gems/sass-3.2.8/lib/sass/../sass/scss/parser.rb:553:in `block_child'
/Library/Ruby/Gems/1.8/gems/sass-3.2.8/lib/sass/../sass/scss/parser.rb:546:in `block_contents'
/Library/Ruby/Gems/1.8/gems/sass-3.2.8/lib/sass/../sass/scss/parser.rb:82:in `stylesheet'
/Library/Ruby/Gems/1.8/gems/sass-3.2.8/lib/sass/../sass/scss/parser.rb:27:in `parse'
/Library/Ruby/Gems/1.8/gems/sass-3.2.8/lib/sass/../sass/engine.rb:342:in `_to_tree'
/Library/Ruby/Gems/1.8/gems/sass-3.2.8/lib/sass/../sass/engine.rb:315:in `_render'
/Library/Ruby/Gems/1.8/gems/sass-3.2.8/lib/sass/../sass/engine.rb:262:in `render'
/Library/Ruby/Gems/1.8/gems/compass-0.12.2/lib/compass/compiler.rb:140:in `compile'
/Library/Ruby/Gems/1.8/gems/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
/Library/Ruby/Gems/1.8/gems/compass-0.12.2/lib/compass/compiler.rb:139:in `compile'
/Library/Ruby/Gems/1.8/gems/compass-0.12.2/lib/compass/logger.rb:45:in `red'
/Library/Ruby/Gems/1.8/gems/compass-0.12.2/lib/compass/compiler.rb:138:in `compile'
/Library/Ruby/Gems/1.8/gems/compass-0.12.2/lib/compass/compiler.rb:118:in `compile_if_required'
/Library/Ruby/Gems/1.8/gems/compass-0.12.2/lib/compass/compiler.rb:103:in `run'
/Library/Ruby/Gems/1.8/gems/compass-0.12.2/lib/compass/compiler.rb:101:in `each'
/Library/Ruby/Gems/1.8/gems/compass-0.12.2/lib/compass/compiler.rb:101:in `run'
/Library/Ruby/Gems/1.8/gems/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
/Library/Ruby/Gems/1.8/gems/compass-0.12.2/lib/compass/compiler.rb:100:in `run'
/Library/Ruby/Gems/1.8/gems/compass-0.12.2/lib/compass/commands/watch_project.rb:147:in `recompile'
/Library/Ruby/Site/1.8/rubygems/custom_require.rb:55:in `to_proc'
/Library/Ruby/Gems/1.8/gems/fssm-0.2.10/lib/fssm/path.rb:73:in `call'
/Library/Ruby/Gems/1.8/gems/fssm-0.2.10/lib/fssm/path.rb:73:in `run_callback'
/Library/Ruby/Gems/1.8/gems/fssm-0.2.10/lib/fssm/path.rb:55:in `callback_action'
/Library/Ruby/Gems/1.8/gems/fssm-0.2.10/lib/fssm/path.rb:35:in `update'
/Library/Ruby/Gems/1.8/gems/fssm-0.2.10/lib/fssm/state/directory.rb:39:in `modified'
/Library/Ruby/Gems/1.8/gems/fssm-0.2.10/lib/fssm/state/directory.rb:37:in `each'
/Library/Ruby/Gems/1.8/gems/fssm-0.2.10/lib/fssm/state/directory.rb:37:in `modified'
/Library/Ruby/Gems/1.8/gems/fssm-0.2.10/lib/fssm/state/directory.rb:18:in `refresh'
/Library/Ruby/Gems/1.8/gems/fssm-0.2.10/lib/fssm/backends/rbfsevent.rb:30:in `temporary_multipath_handler'
/Library/Ruby/Gems/1.8/gems/fssm-0.2.10/lib/fssm/backends/rbfsevent.rb:27:in `each'
/Library/Ruby/Gems/1.8/gems/fssm-0.2.10/lib/fssm/backends/rbfsevent.rb:27:in `temporary_multipath_handler'
/Library/Ruby/Gems/1.8/gems/fssm-0.2.10/lib/fssm/backends/rbfsevent.rb:17:in `run'
/Library/Ruby/Gems/1.8/gems/fssm-0.2.10/lib/fssm/backends/rbfsevent.rb:16:in `each'
/Library/Ruby/Gems/1.8/gems/fssm-0.2.10/lib/fssm/backends/rbfsevent.rb:16:in `run'
/Library/Ruby/Gems/1.8/gems/rb-fsevent-0.9.3/lib/rb-fsevent/fsevent.rb:43:in `call'
/Library/Ruby/Gems/1.8/gems/rb-fsevent-0.9.3/lib/rb-fsevent/fsevent.rb:43:in `run'
/Library/Ruby/Gems/1.8/gems/fssm-0.2.10/lib/fssm/backends/rbfsevent.rb:20:in `run'
/Library/Ruby/Gems/1.8/gems/fssm-0.2.10/lib/fssm/monitor.rb:26:in `run'
/Library/Ruby/Gems/1.8/gems/fssm-0.2.10/lib/fssm.rb:70:in `monitor'
/Library/Ruby/Gems/1.8/gems/compass-0.12.2/lib/compass/commands/watch_project.rb:87:in `perform'
/Library/Ruby/Gems/1.8/gems/compass-0.12.2/lib/compass/commands/base.rb:18:in `execute'
/Library/Ruby/Gems/1.8/gems/compass-0.12.2/lib/compass/commands/project_base.rb:19:in `execute'
/Library/Ruby/Gems/1.8/gems/compass-0.12.2/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/Library/Ruby/Gems/1.8/gems/compass-0.12.2/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/Library/Ruby/Gems/1.8/gems/compass-0.12.2/bin/compass:30
/Library/Ruby/Gems/1.8/gems/compass-0.12.2/bin/compass:44:in `call'
/Library/Ruby/Gems/1.8/gems/compass-0.12.2/bin/compass:44
/usr/bin/compass:19:in `load'
/usr/bin/compass:19
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Colors must have either three or six digits: '#b'\A         on line 7 of /Users/miguel/git/scrum-estimate-websocket/static/sass/master.scss"; }
=======
@import url("font-awesome.min.css");html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,del,dfn,em,img,ins,kbd,q,samp,small,strong,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,table,tbody,tfoot,thead,tr,th,td,article,aside,footer,header,nav,section{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}body{-webkit-text-size-adjust:none;font-family:sans-serif}.menu{height:25px;background:#cef;box-shadow:0px 2px 4px rgba(0,0,0,0.5)}.menu li{float:left;width:80px;border-left:1px solid #49c;border-right:1px solid #49c;padding:7px;font-size:12px;text-align:center;cursor:pointer;list-style:none}.menu li.connection{color:green}.menu li.connection.disconnected{color:red;cursor:pointer}.menu li:first-child{border-left:2px solid #49c}.menu li:last-child{border-right:2px solid #49c}.menu li [class^="icon-"]{height:1.25em}.menu a{color:black;text-decoration:none}.master .menu{height:70px}body{font-family:Arial, sans;color:black;margin:0px;background:white}h1,h2{background:#11A883;color:white;padding:0.25em;margin:0px}#wrapper{font-size:250px}#toggle_list{text-align:center;background:#CCC;border-top:2px solid darkgrey;padding:5px;font-weight:bold;width:30%;margin:0px auto;border-radius:10px 10px 0px 0px;cursor:pointer;width:50%;color:#444}#additional{position:absolute;bottom:0px;width:100%;font-size:50px}#list{display:block;background:white;border-top:2px solid #333;box-shadow:0px -2px 10px rgba(0,0,0,0.5);padding:0em;margin:0px}#list li{list-style:none;background:lightgray;padding:5px;padding-left:1em;border-bottom:1px solid #666;box-shadow:inset 0px -1px 6px rgba(0,0,0,0.5)}#list li .icon-remove-sign{color:#900;cursor:pointer}#value{font-size:240px;text-align:center;text-shadow:0px 2px 4px rgba(0,0,0,0.5);position:absolute;top:100px;left:0px;width:100%;height:100%}#value .deviation{color:#666;font-size:150px}#value .people{font-size:60px}.modal{position:fixed;top:100px;left:10%;width:80%;background:white;display:block;margin:0px auto;box-shadow:0px 4px 30px rgba(0,0,0,0.5)}.modal h2{text-align:center}.modal h2 .close{float:right;cursor:pointer;margin-right:5px}.modal section{padding:0.5em}.modal ul{list-style:none}.modal.hidden{display:none}.deviations li{text-align:center;font-size:18px;margin:0.5em 0;background:#ccc;border-top:2px solid #eee;border-left:2px solid #eee;border-right:2px solid #eee;border-bottom:2px solid #999}
>>>>>>> menu_styling
