/*
Syntax error: Colors must have either three or six digits: '#b'
        on line 45 of /Users/miguel/git/scrum-estimate-websocket/static/sass/style.scss

Backtrace:
/Users/miguel/git/scrum-estimate-websocket/static/sass/style.scss:45
/Library/Ruby/Gems/1.8/gems/sass-3.2.8/lib/sass/../sass/script/lexer.rb:282:in `color'
/Library/Ruby/Gems/1.8/gems/sass-3.2.8/lib/sass/../sass/script/lexer.rb:239:in `token'
/Library/Ruby/Gems/1.8/gems/sass-3.2.8/lib/sass/../sass/script/lexer.rb:218:in `read_token'
/Library/Ruby/Gems/1.8/gems/sass-3.2.8/lib/sass/../sass/script/lexer.rb:169:in `peek'
/Library/Ruby/Gems/1.8/gems/sass-3.2.8/lib/sass/../sass/script/parser.rb:480:in `try_tok'
/Library/Ruby/Gems/1.8/gems/sass-3.2.8/lib/sass/../sass/script/parser.rb:228:in `unary_plus'
/Library/Ruby/Gems/1.8/gems/sass-3.2.8/lib/sass/../sass/script/parser.rb:209:in `times_div_or_mod'
/Library/Ruby/Gems/1.8/gems/sass-3.2.8/lib/sass/../sass/script/parser.rb:209:in `plus_or_minus'
/Library/Ruby/Gems/1.8/gems/sass-3.2.8/lib/sass/../sass/script/parser.rb:209:in `relational'
/Library/Ruby/Gems/1.8/gems/sass-3.2.8/lib/sass/../sass/script/parser.rb:209:in `eq_or_neq'
/Library/Ruby/Gems/1.8/gems/sass-3.2.8/lib/sass/../sass/script/parser.rb:209:in `and_expr'
/Library/Ruby/Gems/1.8/gems/sass-3.2.8/lib/sass/../sass/script/parser.rb:209:in `or_expr'
/Library/Ruby/Gems/1.8/gems/sass-3.2.8/lib/sass/../sass/script/parser.rb:298:in `space'
/Library/Ruby/Gems/1.8/gems/sass-3.2.8/lib/sass/../sass/script/parser.rb:283:in `interpolation'
/Library/Ruby/Gems/1.8/gems/sass-3.2.8/lib/sass/../sass/script/parser.rb:246:in `expr'
/Library/Ruby/Gems/1.8/gems/sass-3.2.8/lib/sass/../sass/script/parser.rb:470:in `send'
/Library/Ruby/Gems/1.8/gems/sass-3.2.8/lib/sass/../sass/script/parser.rb:470:in `assert_expr'
/Library/Ruby/Gems/1.8/gems/sass-3.2.8/lib/sass/../sass/script/parser.rb:49:in `parse'
/Library/Ruby/Gems/1.8/gems/sass-3.2.8/lib/sass/../sass/scss/parser.rb:1022:in `send'
/Library/Ruby/Gems/1.8/gems/sass-3.2.8/lib/sass/../sass/scss/parser.rb:1022:in `sass_script'
/Library/Ruby/Gems/1.8/gems/sass-3.2.8/lib/sass/../sass/scss/parser.rb:882:in `value!'
/Library/Ruby/Gems/1.8/gems/sass-3.2.8/lib/sass/../sass/scss/parser.rb:859:in `declaration'
/Library/Ruby/Gems/1.8/gems/sass-3.2.8/lib/sass/../sass/scss/parser.rb:582:in `declaration_or_ruleset'
/Library/Ruby/Gems/1.8/gems/sass-3.2.8/lib/sass/../sass/scss/parser.rb:1122:in `call'
/Library/Ruby/Gems/1.8/gems/sass-3.2.8/lib/sass/../sass/scss/parser.rb:1122:in `rethrow'
/Library/Ruby/Gems/1.8/gems/sass-3.2.8/lib/sass/../sass/scss/parser.rb:592:in `declaration_or_ruleset'
/Library/Ruby/Gems/1.8/gems/sass-3.2.8/lib/sass/../sass/scss/parser.rb:554:in `block_child'
/Library/Ruby/Gems/1.8/gems/sass-3.2.8/lib/sass/../sass/scss/parser.rb:546:in `block_contents'
/Library/Ruby/Gems/1.8/gems/sass-3.2.8/lib/sass/../sass/scss/parser.rb:535:in `block'
/Library/Ruby/Gems/1.8/gems/sass-3.2.8/lib/sass/../sass/scss/parser.rb:529:in `ruleset'
/Library/Ruby/Gems/1.8/gems/sass-3.2.8/lib/sass/../sass/scss/parser.rb:553:in `block_child'
/Library/Ruby/Gems/1.8/gems/sass-3.2.8/lib/sass/../sass/scss/parser.rb:546:in `block_contents'
/Library/Ruby/Gems/1.8/gems/sass-3.2.8/lib/sass/../sass/scss/parser.rb:82:in `stylesheet'
/Library/Ruby/Gems/1.8/gems/sass-3.2.8/lib/sass/../sass/scss/parser.rb:27:in `parse'
/Library/Ruby/Gems/1.8/gems/sass-3.2.8/lib/sass/../sass/engine.rb:342:in `_to_tree'
/Library/Ruby/Gems/1.8/gems/sass-3.2.8/lib/sass/../sass/engine.rb:315:in `_render'
/Library/Ruby/Gems/1.8/gems/sass-3.2.8/lib/sass/../sass/engine.rb:262:in `render'
/Library/Ruby/Gems/1.8/gems/compass-0.12.2/lib/compass/compiler.rb:140:in `compile'
/Library/Ruby/Gems/1.8/gems/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
/Library/Ruby/Gems/1.8/gems/compass-0.12.2/lib/compass/compiler.rb:139:in `compile'
/Library/Ruby/Gems/1.8/gems/compass-0.12.2/lib/compass/logger.rb:45:in `red'
/Library/Ruby/Gems/1.8/gems/compass-0.12.2/lib/compass/compiler.rb:138:in `compile'
/Library/Ruby/Gems/1.8/gems/compass-0.12.2/lib/compass/compiler.rb:118:in `compile_if_required'
/Library/Ruby/Gems/1.8/gems/compass-0.12.2/lib/compass/compiler.rb:103:in `run'
/Library/Ruby/Gems/1.8/gems/compass-0.12.2/lib/compass/compiler.rb:101:in `each'
/Library/Ruby/Gems/1.8/gems/compass-0.12.2/lib/compass/compiler.rb:101:in `run'
/Library/Ruby/Gems/1.8/gems/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
/Library/Ruby/Gems/1.8/gems/compass-0.12.2/lib/compass/compiler.rb:100:in `run'
/Library/Ruby/Gems/1.8/gems/compass-0.12.2/lib/compass/commands/watch_project.rb:147:in `recompile'
/Library/Ruby/Site/1.8/rubygems/custom_require.rb:55:in `to_proc'
/Library/Ruby/Gems/1.8/gems/fssm-0.2.10/lib/fssm/path.rb:73:in `call'
/Library/Ruby/Gems/1.8/gems/fssm-0.2.10/lib/fssm/path.rb:73:in `run_callback'
/Library/Ruby/Gems/1.8/gems/fssm-0.2.10/lib/fssm/path.rb:55:in `callback_action'
/Library/Ruby/Gems/1.8/gems/fssm-0.2.10/lib/fssm/path.rb:35:in `update'
/Library/Ruby/Gems/1.8/gems/fssm-0.2.10/lib/fssm/state/directory.rb:39:in `modified'
/Library/Ruby/Gems/1.8/gems/fssm-0.2.10/lib/fssm/state/directory.rb:37:in `each'
/Library/Ruby/Gems/1.8/gems/fssm-0.2.10/lib/fssm/state/directory.rb:37:in `modified'
/Library/Ruby/Gems/1.8/gems/fssm-0.2.10/lib/fssm/state/directory.rb:18:in `refresh'
/Library/Ruby/Gems/1.8/gems/fssm-0.2.10/lib/fssm/backends/rbfsevent.rb:30:in `temporary_multipath_handler'
/Library/Ruby/Gems/1.8/gems/fssm-0.2.10/lib/fssm/backends/rbfsevent.rb:27:in `each'
/Library/Ruby/Gems/1.8/gems/fssm-0.2.10/lib/fssm/backends/rbfsevent.rb:27:in `temporary_multipath_handler'
/Library/Ruby/Gems/1.8/gems/fssm-0.2.10/lib/fssm/backends/rbfsevent.rb:17:in `run'
/Library/Ruby/Gems/1.8/gems/fssm-0.2.10/lib/fssm/backends/rbfsevent.rb:16:in `each'
/Library/Ruby/Gems/1.8/gems/fssm-0.2.10/lib/fssm/backends/rbfsevent.rb:16:in `run'
/Library/Ruby/Gems/1.8/gems/rb-fsevent-0.9.3/lib/rb-fsevent/fsevent.rb:43:in `call'
/Library/Ruby/Gems/1.8/gems/rb-fsevent-0.9.3/lib/rb-fsevent/fsevent.rb:43:in `run'
/Library/Ruby/Gems/1.8/gems/fssm-0.2.10/lib/fssm/backends/rbfsevent.rb:20:in `run'
/Library/Ruby/Gems/1.8/gems/fssm-0.2.10/lib/fssm/monitor.rb:26:in `run'
/Library/Ruby/Gems/1.8/gems/fssm-0.2.10/lib/fssm.rb:70:in `monitor'
/Library/Ruby/Gems/1.8/gems/compass-0.12.2/lib/compass/commands/watch_project.rb:87:in `perform'
/Library/Ruby/Gems/1.8/gems/compass-0.12.2/lib/compass/commands/base.rb:18:in `execute'
/Library/Ruby/Gems/1.8/gems/compass-0.12.2/lib/compass/commands/project_base.rb:19:in `execute'
/Library/Ruby/Gems/1.8/gems/compass-0.12.2/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/Library/Ruby/Gems/1.8/gems/compass-0.12.2/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/Library/Ruby/Gems/1.8/gems/compass-0.12.2/bin/compass:30
/Library/Ruby/Gems/1.8/gems/compass-0.12.2/bin/compass:44:in `call'
/Library/Ruby/Gems/1.8/gems/compass-0.12.2/bin/compass:44
/usr/bin/compass:19:in `load'
/usr/bin/compass:19
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Colors must have either three or six digits: '#b'\A         on line 45 of /Users/miguel/git/scrum-estimate-websocket/static/sass/style.scss"; }
