@import "compass";
@import "compass/reset";
@import "menu";
@import "reset";
@import url("font-awesome.min.css");

$lightBlue : #cae3fc;
$deg_start : #4197ee;
$deg_end :  #79bbff;

.jumbo {
    text-align: center;
    font-size: 500%;
    margin-top: 1em;
}

small {
    margin:0 10px 30px;
    display:block;
    font-size:12px;
}
.swipe {
    padding-bottom:20px;
    li div, div div div {
        margin:0 10px;
        padding:50px 10px;
        background:#1db1ff;
        font-weight:bold;
        color:#fff;
        font-size:20px;
        text-align:center;
    }
}


body{
    background: white;
    font-family:    Arial, sans;
    color:          #black;
}
h1,h2{
    background: #4197ee;
    color:      white;
    padding:    0.25em;
    margin:     0px;
    a{
        color: white;
    }
}
#wrapper{
    height:     100%;
    position:   absolute;
    width:      100%;
    margin:     0px auto;
    padding:    0em;
    font-size:  12px;
}
#values li{
    text-align: center;
    font-size:  1500%;
    &.active{
        font-weight: bold;
    }
}

.controls{
    font-size:  26px;
    text-align: center;
}

.button {
    border-radius:6px;
    border:1px solid #469df5;
    display:inline-block;
    color:#ffffff;
    font-family:arial;
    font-size:20px;
    font-weight:bold;
    padding:12px 48px;
    text-decoration:none;
    text-shadow:1px 0px 2px #287ace;
    box-shadow:  1px 6px 00px $lightBlue;
    background-color:#79bbff;
    border-radius:6px;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #4197ee) );
    background:-moz-linear-gradient( center top, #79bbff 5%, #4197ee 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#4197ee');

    &:hover {
        @include background-image(linear-gradient($deg_start, $deg_end));
        background-color:$deg_start;
    }
    &:active {
        position:   relative;
        top:        5px;
        box-shadow:  1px 1px 0px $lightBlue;
    }
}
